@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
/* CSS HSL */
--maize: rgb(255, 253, 239);
--bone: hsla(36, 24%, 84%, 1);
--ivory: hsla(64, 78%, 96%, 1);
--navajo-white: hsla(36, 100%, 83%, 1);
--paynes-gray: hsla(196, 20%, 36%, 1);
}

main{
  background-color: var(--maize);
}