@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
/* CSS HSL */
--maize: rgb(255, 253, 239);
--gold: rgb(197, 152, 85);
--yellow: rgb(135, 138, 96);
--navajo-white: rgb(190, 166, 130);
--paynes-gray: hsla(196, 20%, 36%, 1);
}

.full-page-width{
  width: 100%;
}

.center{
  margin:auto;
}

.main-body{
  margin-top:3rem;
  width: 90vw;
}

main{
  background-color: var(--maize);
}
h1{
  font-weight: 1000;
}
h2{
  font-weight: 800;
}